[Unit]
Description=Check Virtual Tools feedback every 30 minutes

[Timer]
OnCalendar=*-*-* *:00,30:00 UTC
AccuracySec=1s
Persistent=false
Unit=virt-tools-maintenance.service

[Install]
WantedBy=timers.target
